body{
    overflow-x: hidden;
    width: 100%;
}

#features {
    margin-left: 0px;
    position: absolute;
    left: 0;
    width: 100%;
}
  
.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 0px solid gray;
    border-radius: 20px;
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.15);
    margin: 40px 30px;
  }
  
.flex-left {
    flex: 1;
    max-width: 680px;
}

.flex-right{
    flex: 1;
}

.img-right{
    width: 90%;
    max-width: 620px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.flex-left h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
  
.flex-left p {
    font-size: 1.125rem;
    color: var(--gblue);
}
  
